---
import AuthenticationComponent from "./authentication-component";
import "@/styles/global.css";

---
<div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="w-full max-w-sm">
        <AuthenticationComponent/>
    </div>

</div>
